// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------

.btn-primary {
  font-size: 13px;
  line-height: 16px;
  text-transform: uppercase;
  color: #ffffff;
  padding: 0 92px;
  background: linear-gradient(135deg, #a2a7f0 0%, #696edd 100%);
  border-radius: 6px;
  height: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border: 1px solid transparent;

  &:hover {
    border: 1px solid #6d72de;
    background: #fff;
    color: #6d72de;
  }

  @media (max-width: 1024px) {
    padding: 0 60px;
    font-size: 11px;
  }

  @media (max-width: 768px) {
    padding: 0 82px;
  }
}
